.forecast-container {
  width: 100vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.daily-forecast {
  width: 1200px;
  height: 500px;
  border-radius: 25px;
  background-color: #d9d9d999;
  padding: 20px;
  box-sizing: border-box;
}

.weekly-forecast {
  width: 580px;
  height: 500px;
  border-radius: 25px;
  background-color: #d9d9d999;
}

.daily-forecast header {
  font-size: 32px;
  font-weight: 500;
  margin: 20px 0;
}

.daily-forecast-cards {
  width: 100%;
  height: 290px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.forecast-card {
  width: 80px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  background: linear-gradient(#2c5364, #203a43, #0f2027);
  margin-right: 20px;
}

.forecast-card-time,
.forecast-card-temp {
  font-size: 24px;
  font-weight: 500;
}

.forecast-card-icon {
  font-size: 40px;
}

.weekly-forecast-days {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.weekly-forecast-days .day {
  font-size: 20px;
  font-weight: 800;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-day {
  border-bottom: 2px solid #f3f3f3;
}

.current-forecast-time {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-forecast-time .clock-icon {
  font-size: 20px;
  margin-right: 10px;
}

.current-forecast-time .time {
  font-size: 20px;
  font-weight: 500;
}

.current-forecast-conditions {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
}

.current-forecast-conditions > * {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.current-forecast-conditions header {
  font-size: 24px;
  font-weight: 500;
}

.condition .condition-icon,
.condition .condition-name,
.condition .condition-value {
  font-size: 20px;
}

.condition .condition-icon {
  margin-right: 10px;
}

.condition .condition-value {
  margin-left: auto;
}
