body {
  color: #f3f3f3;
  background: linear-gradient(#b2fefa, #0ed2f7);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container {
  max-width: 100%;
  overflow: hidden;
}

.current-weather {
  height: 60%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-city {
  font-size: 36px;
  font-weight: normal;
}

.current-temp {
  font-size: 96px;
  font-weight: normal;
}

.current-weather-id {
  font-size: 20px;
}

.forecast-and-nav {
  background: #c5c5c599;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -60%;
  border-radius: 35px;
  box-shadow: 0 0 3px #000000;
  box-sizing: border-box;
}

.forecast-nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.dragger {
  border: 3px solid #f3f3f399;
  border-radius: 25px;
  width: 20%;
  margin: 5px auto;
}

.forecast-types {
  display: flex;
  justify-content: space-between;
}

.forecast-type {
  font-size: 14px;
  font-weight: 300;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #f3f3f3;
  box-sizing: border-box;
}

.forecast-card {
  background-color: #6bbbbfb3;
  height: 140px;
  width: 60px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  box-shadow: 0 0 4px #00000025;
  box-sizing: border-box;
}

.forecast-time {
  font-size: 16px;
  font-weight: bold;
}

.forecast-icon {
  font-size: 40px;
}

.forecast-temp {
  font-size: 20px;
}
