.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  /* display: none; */
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-part {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 40px;
}

.search-box {
  width: 80%;
  background-color: transparent;
  transition: 1s ease-in;
}

.search-value .value {
  color: #f3f3f3;
}

.search-open {
  display: block;
}

.search-closed {
  display: none;
}

.search-value-visible {
  display: flex;
}

.search-value-hidden {
  display: none;
}

.nav-button {
  list-style: none;
  cursor: pointer;
}

.nav-icon {
  color: #f3f3f3;
  font-size: 1.5em;
}
