:root {
  --background: #121212;
}

[data-theme="sunny"] {
  --background: cyan;
}

[data-theme="rain"] {
  --background: gray;
}

[data-theme="snowy"] {
  --background: magenta;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #f3f3f3;
  background: linear-gradient(#2c5364, #203a43, #0f2027);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container {
  min-height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .main-container {
    width: 100vw;
    padding-top: 100px;
    overflow: hidden;
  }
}
