body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f1f1;
}

.main-container {
  height: 100vh;
  width: 100vw;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 60px 5vw 0;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins/Poppins-Regular.ttf),
    format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
